<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Msg</title>
</head>
<body>
    <p>Edit your message</p>
    <p>chat id: <%=chat._id%></p>
    <form method="POST" action="/chats/<%=chat._id%>/?_method=PUT">
        <textarea name="msg" id="msgId"><%=chat.msg%></textarea>
        <button>Save</button>
    </form>
</body>
</html>