<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            padding-left: 5rem;
        }
        a{
            font-size: 3rem;
        }
    </style>
</head>
<body>
    <a href="/chats">Chats</a>
</body>
</html>