<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <p>chat with someone</p>
    <form method="post" action="/chats">
        <input type="text" name="from" id="from-id" placeholder="from"> <br> <br>
        <input type="text" name="to" id="to_id" placeholder="to"> <br> <br>
        <textarea name="msg" id="msg_id" placeholder="type your message"></textarea>
        <button>Send</button>
    </form>
</body>
</html>